<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176349975045-ep58rn6r9odsel393u1i49i68kv94te3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176349975045-ep58rn6r9odsel393u1i49i68kv94te3</string>
	<key>API_KEY</key>
	<string>AIzaSyCi3MEleYP-VXYuGjEFMxuwnba74846HBc</string>
	<key>GCM_SENDER_ID</key>
	<string>176349975045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkannalbant.Flexigram</string>
	<key>PROJECT_ID</key>
	<string>flexigram-271a4</string>
	<key>STORAGE_BUCKET</key>
	<string>flexigram-271a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176349975045:ios:dbc7a342bd186f1faf826c</string>
</dict>
</plist>